
    <br />
    <div id="content1">
        <p class="p1">
            <br />
            <br />
            Sorry, your application cannot be submitted due to one of the following reasons.
        </p>
        <p>

            &#x25CB;<span style="font-size: smaller;"> To apply for </span><span style="font-size: smaller;
                font-weight: bold">Virtual Earn &and; Learn  </span><span style="font-size: smaller;">program age should
                    be </span><span style="font-size: smaller; font-weight: bold">16 -19 years </span>
            <span style="font-size: smaller;">as of July 1st</span>
            <br />
            &#x25CB;<span style="font-size: smaller;"> To apply for </span><span style="font-size: smaller;
                font-weight: bold;">Teen Workforce </span><span style="font-size: smaller;">program age
                    should be </span><span style="font-size: smaller; font-weight: bold">14 - 15 years
            </span><span style="font-size: smaller;">as of July 1st </span>
            <br />

            &#x25CB;<span style="font-size: smaller;"> To apply for </span><span style="font-size: smaller;
                font-weight: bold;">Counselors In Training(CIT) </span><span style="font-size: smaller;">
                    program age should be </span><span style="font-size: smaller; font-weight: bold">14
                        - 15 years </span><span style="font-size: smaller">as of July 1st </span>
            <br />
            &#x25CB;<span style="font-size: smaller;"> To apply for </span><span style="font-size: smaller;
                font-weight: bold">Kings Dominion </span><span style="font-size: smaller;">program
                    age should be </span><span style="font-size: smaller; font-weight: bold">16 - 19 years
                    </span><span style="font-size: smaller;">as of July 1st</span>
            <br />
            &#x25CB;<span style="font-size: smaller;"> To apply for </span><span style="font-size: smaller;
                font-weight: bold">Community Health Worker</span><span style="font-size: smaller;">program
                    age should be </span><span style="font-size: smaller; font-weight: bold">17 - 19 years
                    </span><span style="font-size: smaller;">as of July 1st</span>
            <br />
       
    </div>
