
    <div id="content1">
        <p class="p1">
            <br />
            <br />
            Sorry, your application cannot be submitted for the following reasons.
        </p>
        <p>
            &#x25CB;<span style="font-size: smaller;"> To apply for </span><span style="font-size: smaller;
                font-weight: bold;">Counselors in Training</span>
            @*<span style="font-size: smaller;">Please answer the question "Are you interested in water sports, biking, and comfortable in the outdoor environments?".</span>*@
            <span style="font-size: smaller;">Please answer the question and select choices in section "COUNSELEORS IN TRAINING-COMMUNITY HEALTH WORKER AND VIRUTAL EARN &amp; LEARN APPLICANTS".</span>
                <br />

                <span style="font-size: smaller;">
                    For any questions, please contact the MYA's office
                    at 804-646-7933 or email us at <a href="mailto:mayorsyouthacademy@richmondgov.com">
                        mayorsyouthacademy@richmondgov.com
                    </a>
                </span>
            </p>
        </div>

