

    <div id="content1">
        <p class="p1" style="font-size: small; font-family: Verdana;">
            <br />
            <br />
            <br />
            Thank you for submitting your application for the Counselors In Training program.
            <br />
            You will be contacted via telephone or e-mail at the telephone number/e-mail listed
            on your application to give you additional information or instructions.
            <br />
            <br />
            If you have questions, please contact the MYA office at 804-646-7933 or email us
            at <a href="mailto:MYACIT@richmondgov.com">MYACIT@richmondgov.com</a>
        </p>
    </div>
