

    <div id="content1">
        <p class="p1">
            <br />
            <br />
            <br />
            Sorry, there is already an applicant with the same last name, first name and SSN
            on file for this application cycle. You can only apply for one program per summer
            intake cycle. Please contact the MYA's office at 804-646-7933 or e-mail us at <a
                href="mailto:mayorsyouthacademy@richmondgov.com">mayorsyouthacademy@richmondgov.com</a>
            if you believe this message to be an error.
        </p>
    </div>

