
    <div id="content1">
        <p class="p1" style="font-size: small; font-family: Verdana;">
            <br />
            <br />
            <br />
            Thank you for submitting your application for the VIRTUAL EARN & LEARN program.
            <br />
            <br />
            You will be contacted via telephone or e-mail listed on your application to give you additional information or instructions.
            If you have questions please contact the MYA office at 804-646-7933 or <a href="mailto:mayorsyouthacademy@richmondgov.com">
                mayorsyouthacademy@richmondgov.com
            </a>
        </p>
    </div>
